* text=auto

/.git export-ignore
/.github export-ignore
/bin export-ignore
/node_modules export-ignore
/tests export-ignore
phpunit.xml.dist export-ignore
wp-tests-config-sample.php export-ignore
composer.json export-ignore
composer.lock export-ignore
package.json export-ignore
package-lock.json export-ignore
.wp-env.json export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.distignore export-ignore
.editorconfig export-ignore
